*.Rproj
*.qs
*.swp
/.Rhistory
/.Rproj.user
/.vscode
/coverage
/dist
/logo
/node_modules
/resources/*.js
/resources/exp-data
/resources/reports
/resources/uPlot.min.css
/src/views/somns.html
/src/views/test.html
/tests/data/actual-results
/tests/data/large-payload.json
/tmp
test.figures
test.html

# ignore most generated plots to make it easier to handle
/tests/data/expected-results/stats-data-prep/jssom/inline-[0-9].svg
/tests/data/expected-results/stats-data-prep/jssom/inline-[1-2][0-9].svg
/tests/data/expected-results/stats-data-prep/tsom/inline-[0-9].svg
/tests/data/expected-results/stats-data-prep/tsom/inline-[0-9][0-9].svg
/tests/data/expected-results/stats-data-prep/tsom/inline-1[0-9][0-9].svg
/tests/data/expected-results/stats-data-prep/tsom/inline-exe-*.svg

start_program.sh

run_rebench.sh
