logo
dist
node_modules
.vscode
resources/reports
resources/*.js
tmp/knit
tmp/interm
/tests/large-payload.json
.Rhistory
.Rproj.user
*.Rproj
*.qs
*.swp
/coverage
/resources/exp-data
/src/views/somns.html
/src/views/test.html
test.figures
test.html
