*.Rproj
*.qs
*.swp
/.Rhistory
/.Rproj.user
/.vscode
/coverage
/dist
/logo
/node_modules
/resources/*.js
/resources/exp-data
/resources/reports
/src/views/somns.html
/src/views/test.html
/tests/large-payload.json
/tmp
test.figures
test.html
/tests/data/actual-results
