<thead><tr>
<th scope="col"></th>
<th scope="col"></th>
{% if (it.isAcrossExes) { %}<th scope="col" title="Executor, without common prefix with baseline">Exe</th>{% } %}
<th scope="col" title="Number of Samples">#M</th>
{% for (const i of it.criteriaOrder) {
   const name = it.criteria[i].name;
   const unit = it.criteria[i].unit;
   const longLabel = it.dataFormatters.smartLower(name === 'total' ? 'time' : name);
   const shortLabel = name === 'total' ? 'time' : it.dataFormatters.shortenCriteria(longLabel);
%}<th scope="col" title="median {%= longLabel %}">median {%= shortLabel %}<br>in {%= unit %}</th>
<th scope="col" title="difference in % of {%= longLabel %}">{%= shortLabel %} diff %</th>
{% } %}
<th scope="col"></th>
</tr></thead>
