<button type="button" class="btn btn-sm btn-cmdline btn-popover"
  data-content="<code>{%= it.cmdline %}</code>"></button>

{% if (it.environments) { %}
  <button type="button" class="btn btn-sm btn-environment btn-popover"
    data-content="{%= it.formatEnvironment(it.envId, it.environments) %}"></button>
{% } %}

{% if (it.warmupPlotUrl) { %}
  <button type="button" class="btn btn-sm btn-light btn-expand" data-img="{%= it.warmupPlotUrl %}"></button>
{% } %}

{% if (it.hasProfileData) { %}
  <button type="button" class="btn btn-sm btn-profile" data-content="{%= it.base.commitId %}/{%= it.base.runId %}/{%= it.base.trialId %},{%= it.change.commitId %}/{%= it.change.runId %}/{%= it.change.trialId %}"></button>
{% } %}

<button type="button" class="btn btn-sm btn-timeline" data-content='{%- JSON.stringify(
  it.benchmarkId(it.b, it.e, it.s, it.v, it.numV, it.c, it.numC, it.i, it.numI, it.ea, it.numEa)) %}'></button>
