<h2 id="overview">Result Overview</h2>
<div id="overview-plots">
{% for (const url of it.overviewSvgUrls) {
     %}<img src="{%= url %}">{%
   }
%}
</div>
<dl class="row">
  <dt class="col-sm-3">Number of Run Configurations</dt>
  <dd class="col-sm-8">{%= it.numRunConfigs %}</dd>

  <dt class="col-sm-3">Run time (median)</dt>
  <dd class="col-sm-8">{%= it.total.median %} (min. {%= it.total.min %}, max. {%= it.total.max %})</dd>

  <dt class="col-sm-3">GC time (median)</dt>
  <dd class="col-sm-8">{%= it.gcTime.median %} (min. {%= it.gcTime.min %}, max. {%= it.gcTime.max %})</dd>

  <dt class="col-sm-3">Allocated bytes (median)</dt>
  <dd class="col-sm-8">{%= it.allocated.median %} (min. {%= it.allocated.min %}, max. {%= it.allocated.max %})</dd>
</dl>
