<td class="stats-samples">{%= it.total.samples %}</td>
<td><span class="stats-median" title="median">{%= it.r2(it.total.median) %}</span></td>
<td><span class="stats-change" title="change over median run time">{% it.per(it.total.change_m) %}</span></td>
<td><span class="stats-median" title="median">{%= it.r0(it.gcTime.median) %}</span></td>
<td><span class="stats-gc-change" title="change over median GC time">{%= it.per(it.gcTime.change_m) %}</span></td>
<td><span class="stats-median" title="median">{%= it.asHumanMem(it.allocated.median) %}</span></td>
<td><span class="stats-alloc-change" title="change over median allocated memory">{%= it.per(it.allocated.change_m) %}</span></td>
