{%
const h = it.viewHelpers;
const f = it.dataFormatters;
const commonStart = h.commonStringStart(it.exes.map((e) => e.name));
%}<td class="stats-samples">
{%
  let itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}{%= h.withoutStart(commonStart, e.name) %} {%= e.total.samples %}
{% }
%}</td>
<td><span class="stats-median" title="median">
{%
  itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}{%= f.r2(e.total.median) %}
{% }
%}</span></td>
<td>
{%
  itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}{%= f.r2(e.total.median) %}
    <span class="stats-change" title="change over median run time">{%= f.per(e.total.change_m) %}</span>
{% }
%}</td>
<td><span class="stats-median" title="median">
{%
  itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}{%= f.r0(e.gcTime.median) %}
{% }
%}</span></td>
<td>
{%
  itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}<span class="stats-change" title="change over median GC time">{%= f.per(e.gcTime.change_m) %}</span>
{% }
%}</td>
<td><span class="stats-median" title="median">
{%
  itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}{%= f.asHumanMem(e.allocated.median) %}
{% }
%}</span></td>
<td>
{%
  itOut = new h.PerIterationOutput('', '<br>');
  for (const e of it.exes) {
  %}{%- itOut.next()
  %}<span class="stats-change" title="change over median allocated">{%= f.per(e.allocated.change_m) %}</span>
{% }
%}</td>
