<tr>
{%
   const stats = it.stats;
   if (stats.missingCommitId) {
%}<th scope="row">{%= stats.benchId.b %}</th>
  <td colspan="4">missing in the {%= stats.missingCommitId %} data sets</td>
{% } else {
  let args = '';

  if (stats.details.numV  > 0) { args += stats.benchId.v + ' '; }
  if (stats.details.numC  > 0) { args += stats.benchId.c + ' '; }
  if (stats.details.numI  > 0) { args += stats.benchId.i + ' '; }
  if (stats.details.numEa > 0) { args += stats.benchId.ea + ' '; }

  if (args.length > 0) {
    args = `<span class="all-args">${args.trim()}</span>`;
  }
%}<th scope="row">{%= stats.benchId.b %}{%= args %}</th>
  <td class="inline-cmp"><img src="{%= stats.inlinePlot %}"></td>
{%    if (stats.exeStats) {
%}{%-   include('compare/stats-row-across-exes.html', {
          exes: stats.exeStats,
          dataFormatters: it.dataFormatters,
          viewHelpers: it.viewHelpers}
      ) %}
{%   } else {
%}{%-   include('compare/stats-row-across-versions.html', {
        stats: stats.versionStats,
        dataFormatters: it.dataFormatters}
      ) %}
{%   }
%}<td>{%- include('compare/stats-row-buttons-info.html', {
            benchId: stats.benchId,
            details: stats.details,
            environments: it.environments,
            dataFormatters: it.dataFormatters}
     ) %}</td>
{% }
%}</tr>
