body {
  max-width: 800px;
  margin: 0 auto;
}

body.compare {
  max-width: initial;
  padding-left: 10%;
}

.compare {
  max-width: 900px;
}

.compare nav a {
  display: block;
}

.compare nav span {
  margin-left: -10px;
}

nav.compare {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  border-left: 1px solid #eee;
  font-size: .875rem;
  order: 2;
}

.compare main {
  order: 1;
}

.compare nav {
  padding-left: 20px;
  padding-bottom: 10px;
}

.card {
  margin-top: 1em;
}

.min-padding {
  padding-left: 2px;
  padding-right: 2px;
}

.list-min-padding {
  padding: .5rem .75rem;
}

.scroll-list {
  max-height: 200px;
  overflow: scroll;
}

#project .scroll-list {
  max-height: 55vh;
}

.baseline .list-group-item.active, .baseline-badge {
  background-color: #729fcf;
  border-color: #729fcf;
}

.exp-date {
  float: right;
  font-size: 50%;
}

.change-msg {
  font-size: 80%;
  line-height: 1
}

.change .list-group-item.active, .change-badge {
  background-color: #e9b96e;
  border-color: #e9b96e;
}

.change-badge, .baseline-badge {
  display: inline-block;
  padding: .25em .4em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: #fff;
}

.stats-median, .stats-change, .stats-gc-change {
  display: inline-block;
  text-align: right;
  padding-right: 1ex;
}

.stats-median {
  width: 100%;
}

.stats-change, .stats-gc-change {
  width: 3.5em;
}

.stats-samples {
  text-align: right;
}

th[scope=col] {
  font-size: 80%;
}

.compare table {
  width: auto !important;
}

table.benchmark-details tr th:nth-child(1) {
  min-width: 5em;
  max-width: 7em;
  word-break: break-all;
}

.compare .popover {
  /* allow popovers to use all width, so that command lines fit better */
  max-width: 100%;
}

.refresh {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1ex
}

.refresh button {
  margin-right: 1ex
}

.refresh form {
  display:inline-block;
}

.refresh input[name=password] {
  display: none;
}

table.benchmark-details .btn-sm {
  padding: 0 !important;
}

.warmup-benchmark {
  padding-right: 1.5ex;
  font-weight: bold;
}

.warmup-suite, .warmup-exe {
  font-size: 0.7rem;
  padding-right: 0.5ex;
}

td.warmup-plot {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  border-top: 0;
}

.btn-expand {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
}

.btn-profile {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  /* src https://icons.getbootstrap.com/icons/stopwatch/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-stopwatch' viewBox='0 0 16 16'%3E%3Cpath d='M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z'/%3E%3Cpath d='M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1rem;
}

.btn-cmdline {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-terminal' viewBox='0 0 16 16'%3E%3Cpath d='M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9zM3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z'/%3E%3Cpath d='M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1rem;
}

.btn-environment {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  /* src https://icons.getbootstrap.com/icons/cpu/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-motherboard' viewBox='0 0 16 16'%3E%3Cpath d='M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1rem;
}

.card-columns {
  column-count: 2;
}

.num-col {
  text-align: right;
}

/** Profile **/

.profile-container {
  padding-top: 1em;
  padding-bottom: 2em;
  border-top: 0;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 10px;
}

.profile-container .list-group-item {
  padding: 0;
}

.profile-container .list-group {
  padding-left: 30px;
}

.profile-container > .list-group {
  padding-left: 0px;
  max-height: 30vh;
  overflow: scroll;
}

.profile-container .percent {
  display: inline-block;
  min-width: 30px;
  text-align: right;
}

.glyph-plus:before {
  content: "+";
}

.glyph-minus:before {
  content: "-";
}

