body {
  max-width: 800px;
  margin: 0 auto;
}
body.compare {
  max-width: 900px;
}

.card {
  margin-top: 1em;
}

.min-padding {
  padding-left: 2px;
  padding-right: 2px;
}

.list-min-padding {
  padding: .5rem .75rem;
}

.scroll-list {
  max-height: 200px;
  overflow: scroll;
}

.baseline .list-group-item.active {
  background-color: #729fcf;
  border-color: #729fcf;
}

.change .list-group-item.active {
  background-color: #e9b96e;
  border-color: #e9b96e;
}

.stats-mean, .stats-median, .stats-change {
  display: inline-block;
  text-align: right;
  padding-right: 1ex;
}

.stats-mean, .stats-median {
  width: 4em;
}

.stats-change {
  width: 3em;
}

.stats-sd, .stats-min, .stats-max, .stats-change-l, .stats-change-u {
  text-align: right;
  display: inline-block;
  padding-right: 0.5ex;
  font-size: 0.7rem;
}

.stats-sd, .stats-min, .stats-max {
  width: 4em;
}

.stats-change-l, .stats-change-u {
  width: 2em;
}

table.benchmark-details tr th:nth-child(1) {
  max-width: 7em;
  word-break: break-all;
}

.warmup-benchmark {
  padding-right: 1.5ex;
  font-weight: bold;
}

.warmup-suite, .warmup-exe {
  font-size: 0.7rem;
  padding-right: 0.5ex;
}

.warmup-plot {
  margin-top: 1ex;
  margin-bottom: 1ex;
}
