<!doctype html>
<html lang="en">
<head>
  <script src="/static/theme.js" type="module"></script>
  <title>ReBench</title>
  {%- include('header.html', { rebenchVersion: it.rebenchVersion }) %}
  <script src="/static/index.js" type="module"></script>
</head>
<body>

<header>
  <div class="p-4 mb-4 bg-secondary-subtle rounded-2"><div class="container-fluid py-5">
    <h1 class="display-4">ReBench</h1>
    <h2 class="display-5">Execute and document benchmarks reproducibly.</h2>

    <p class="lead">ReBench is a tool to run and document benchmark experiments. Currently, it is mostly used for benchmarking language implementations, but it can be used to monitor the performance of all kinds of other applications and programs, too.</p>
    <hr class="my-4">
    <p>ReBenchDB is a project started in late 2019 to provide convenient access to data recorded with ReBench.
      Our focus is to facilitate the software engineering process with useful performance statistics.
    </p>

    <a href="https://doi.org/10.5281/zenodo.1311762" rel="nofollow"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.1311762.svg" alt="DOI" style="max-width:100%;"></a>
    <a href="https://github.com/smarr/ReBench"><img src="https://img.shields.io/badge/GitHub-ReBench-success"></a>
    <a href="https://github.com/smarr/ReBenchDB"><img src="https://img.shields.io/badge/GitHub-ReBenchDB-success"></a>
    <a href="https://rebench.readthedocs.io/"><img src="https://img.shields.io/badge/Documentation-Go-informational"></a>
  </div></div>
  {%- include('common-menu.html', it) %}
</header>

  <div id="projects">
    {% for (const p of it.projects) { %}
    <div class="card project-data" data-id="{%= p.id %}" data-showchanges="{%= p.showchanges %}" data-allresults="{%= p.allresults %}">
      <h5 class="card-header" id="{%= p.slug %}"><a
        href="/{%= p.slug %}/data">{%= p.name %}</a></h5>
      <div class="card-body">
        {% if (p.showchanges) { %}
        <h5>Changes</h5>
        <div class="container min-padding"><div class="row">
          <div class="col-sm min-padding scroll-list">
            <div class="list-group baseline" id="p{%= p.id %}-baseline"
              data-project-slug="{%= p.slug %}"></div>
          </div>
          <div class="col-sm min-padding scroll-list">
            <div class="list-group change" id="p{%= p.id %}-change"></div>
          </div>
        </div></div>

        <a class="btn btn-primary" id="p{%= p.id %}-compare">Compare</a>
        {% }
           if (p.allresults) { %}
        <div id="p{%= p.id %}-results" class="timeline-single"></div>
        {% } %}
        <a href="/{%= p.slug %}/timeline">Timeline</a>
      </div>
    </div>
    {% }
       if (!it.projects || it.projects.length === 0) { %}
    <div class="card">
      <h5 class="card-header" id="setup-info">
        Welcome to your ReBenchDB Instance</h5>
      <div class="card-body">
        <p>Currently, there are no projects available.</p>

        <p>To get started, run your benchmarks with
        <a href="https://rebench.readthedocs.io/">ReBench</a>
        and add the following to your project's ReBench configuration file:</p>
        <code><pre>reporting:
  rebenchdb:
    db_url: <span id="host-url"></span>rebenchdb
    repo_url: https://url-to-your-project-repository
    record_all: true # make sure everything is recorded
    project_name: Your-Project-Name</pre></code>
      </div></div>
      <script>
        document.getElementById('host-url').textContent = window.location.href;
      </script>
    {% } %}
  </div>

{% if (it.isReBenchDotDev) { %}
<footer
  class="bg-secondary text-light text-center"
  style="font-size: 80%; padding: 1em 10% 1em 10%; position: relative; margin-top: 1em;">
  <p>ReBench and ReBenchDB are supported by<br>
    the Engineering and Physical Sciences Research Council (EP/V007165/1)<br>
    and a Royal Society Industry Fellowship (INF\R1\211001).</p>
  <p>Hosting is sponsored by <a href="https://stefan-marr.de/research/" class="text-white">stefan-marr.de</a>.</p>
  <a href="#stats-table-container" class="text-white"
    id="stats-table-button"
    style="position: absolute; bottom: 1em; right: 1em;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
  <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"></path>
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
</svg></a>

<div id="stats-table-container" style="display: none;">
  <h5>ReBenchDB Statistics</h5>
  <table class="table table-sm text-white" style="max-width: 300px; margin: auto;">
    <tbody id="stats-table">
  </tbody>
  </table>
</div>

</footer>
{% } %}
</body>
</html>
