<!doctype html>
<html lang="en">
<head>
  <title>ReBenchDB for {{project}}: Comparing {{baselineHash6}} with {{changeHash6}}</title>

  {{{headerHtml}}}

  {{#generatingReport}}
  <meta http-equiv="refresh" content="30" />
  {{/generatingReport}}

  <base href="/static/reports/">
  <script>
    //@ts-check

    function determineAndDisplaySignificance() {
      const val = $('#significance').val();
      displaySignificance(val);
    }

    function displaySignificance(sig) {
      $('#significance-val').val(`${sig}%`);
      $(".stats-change").each((i, e) => {
        const change = parseFloat(e.textContent);
        if (change < (-sig)) {
          $(e).parent().css('background-color', '#e4ffc7');
        } else if (change > sig) {
          $(e).parent().css('background-color', '#ffcccc');
        } else {
          $(e).parent().css('background-color', '');
        }
      });
    }

    $(document).ready(() => {
      $('#significance')
        .on('input', determineAndDisplaySignificance);
    });
  </script>
</head>
<body class="compare">

<div class="jumbotron">
  <h2>ReBenchDB for {{project}}</h2>
  <h3>Comparing {{baselineHash6}} with {{changeHash6}}</h3>
</div>

{{{report}}}

{{#generatingReport}}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Report is currently being generated</h4>
  <p>Please wait, the requested report is currently still generated.</p>
  <p>Last page reload was at {{currentTime}}</p>
  <hr>
  <p class="mb-0">This can take a couple of minutes and the page will reload automatically.</p>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
{{/generatingReport}}

{{#generationFailed}}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Report generation failed</h4>
  <hr>
  <h6>Standard Out</h6>
  <pre>{{stdout}}</pre>
  <h6>Standard Error</h6>
  <pre>{{stderr}}</pre>
</div>
{{/generationFailed}}
</body>
</html>
