<!doctype html>
<html lang="en">
<head>
  <title>ReBenchDB for {{project}}: Comparing {{baselineHash6}} with {{changeHash6}}</title>

  {{{headerHtml}}}

  {{#generatingReport}}
  <meta http-equiv="refresh" content="30" />
  {{/generatingReport}}

  <base href="/static/reports/">
  <script>
    //@ts-check

    function determineAndDisplaySignificance() {
      const val = $('#significance').val();
      displaySignificance(val);
    }

    function displaySignificance(sig) {
      $('#significance-val').val(`${sig}%`);
      $(".stats-change").each((i, e) => {
        const change = parseFloat(e.textContent);
        const parent = $(e).parent();
        const target = (parent.find(".stats-change").length > 1) ? $(e) : parent;
        if (change < (-sig)) {
          target.css('background-color', '#e4ffc7');
        } else if (change > sig) {
          target.css('background-color', '#ffcccc');
        } else {
          target.css('background-color', '');
        }
      });
    }

    function insertWarmupPlot(button) {
      const jqButton = $(button);
      let url = jqButton.data('img');
      const insert = `<tr><td class="warmup-plot" colspan="6">
          <img src="${url}"></td></tr>`;
      jqButton.parent().parent().after(insert);
      jqButton.remove();
    }

    $(document).ready(() => {
      $('#significance')
        .on('input', determineAndDisplaySignificance);
      determineAndDisplaySignificance();

      $('#show-refresh-form').click(
        () => $('input[name=password]').show());

      const cmdlineButtons = $('[data-toggle="popover"]');
      cmdlineButtons.popover({html: true, placement: 'top'});
      cmdlineButtons.html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal" viewBox="0 0 16 16">
                            <path d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9zM3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z"/>
                            <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12z"/>
                            </svg>`);

      const expandButtons = $('.btn-expand');
      expandButtons.click((e) => insertWarmupPlot(e.target));

      const headlinesForTablesWithWarmupPlots = $("table:has(button.btn-expand)").prev().prev();
      headlinesForTablesWithWarmupPlots.append(
        `<button type="button" class="btn btn-sm btn-light btn-expand"></button>`);
      const buttons = headlinesForTablesWithWarmupPlots.find('.btn-expand');
      buttons.click((e) => {
        const expandButtons = $(e.target).parent().next().next().find('.btn-expand');
        expandButtons.each((i, elm) => insertWarmupPlot(elm));
      })
    });
  </script>
</head>
<body class="compare">

<header>
<div class="jumbotron compare">
  <h2>ReBenchDB for {{project}}</h2>
  {{#revDetails}}
  <h3>Comparing <a href="{{base.repourl}}/compare/{{baselineHash}}...{{changeHash}}">{{baselineHash6}} with {{changeHash6}}</a></h3>
  {{/revDetails}}
  {{^revDetails}}
  <h3>Comparing {{baselineHash6}} with {{changeHash6}}</h3>
  {{/revDetails}}
</div>

<div class="refresh">
  <div class="flex-nowrap">
    <button id="show-refresh-form" type="button" class="btn btn-outline-secondary btn-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
      </svg>
    </button>
    <form method="post" action="/admin/refresh/{{project}}/{{baselineHash}}/{{changeHash}}" class="input-group-sm">
      <input type="password" class="form-control" name="password"
        placeholder="Password" aria-label="Password">
    </form>
  </div>
</div>
</header>


<div id="version-details" class="compare">
  <h2>Version Details</h2>
  <dl class="row">
    <dt class="col-sm-2">Baseline</dt>
    <dd class="col-sm-9">
      <a href="{{base.repourl}}/compare/{{baselineHash}}"><span class="baseline-badge">{{baselineHash6}}</span></a> {{base.branchortag}}<br/>
       {{base.authorname}}
      <pre>{{base.commitmessage}}</pre>

      {{base.name}}
    </dd>
    <dt class="col-sm-2">Change</dt>
    <dd class="col-sm-9">
      <a href="{{base.repourl}}/compare/{{changeHash}}"><span class="change-badge">{{changeHash6}}</span></a> {{change.branchortag}}<br/>
       {{change.authorname}}
      <pre>{{change.commitmessage}}</pre>

      {{change.name}}
    </dd>
    <dt class="col-sm-2">Significant Change</dt>
      <dd class="col-sm-9"><div class="form-row">
        <input type="range" class="col-6 custom-range" min="0" max="15" step="0.5" id="significance" style="padding-top: 1.75ex; padding-right: 1em;" value="5">
        <input type="text" readonly class="col-4 form-control-plaintext" id="significance-val" value="5%">
      </div></dd>
  </dl>
</div>


{{{report}}}

{{#generatingReport}}
<div class="alert alert-secondary compare" role="alert">
  <h4 class="alert-heading">Report is currently being generated</h4>
  <p>Please wait, the requested report is currently still generated.</p>
  <p>Last page reload was at {{currentTime}}</p>
  <hr>
  <p class="mb-0">This can take a couple of minutes and the page will reload automatically.</p>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
{{/generatingReport}}

{{#generationFailed}}
<div class="alert alert-warning compare" role="alert">
  <h4 class="alert-heading">Report generation failed</h4>
  <hr>
  <h6>Standard Out</h6>
  <pre>{{stdout}}</pre>
  <h6>Standard Error</h6>
  <pre>{{stderr}}</pre>
</div>
{{/generationFailed}}
</body>
</html>
