<!doctype html>
<html lang="en">
<head>
  <title>ReBenchDB {{project}}: Preparing Data For Download</title>

  {{{headerHtml}}}

  <meta http-equiv="refresh" content="10" />
</head>
<body class="compare">

<div class="jumbotron">
  <h2>ReBenchDB for {{project}}</h2>
  <h3>Preparing Data for download of {{expName}}</h3>
</div>

{{#preparingData}}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Data is currently being prepared for download</h4>
  <p>Please wait, the requested data is currently exported from the database.</p>
  <p>Last page reload was at {{currentTime}}</p>
  <hr>
  <p class="mb-0">Usually, this takes only a few seconds.
    For large experiments, this can take a couple of minutes.</p>
  <p>The page will reload automatically.</p>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
{{/preparingData}}

{{#generationFailed}}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Data export failed</h4>
  <hr>
  <h6>Standard Out</h6>
  <pre>{{stdout}}</pre>
  <h6>Standard Error</h6>
  <pre>{{stderr}}</pre>
</div>
{{/generationFailed}}
</body>
</html>
