<!doctype html>
<html lang="en">
<head>
  <title>ReBench</title>

  {{{headerHtml}}}

  <script>
    //@ts-check
    const rebenchDashP = fetch(`/rebenchdb/dash/rebenchdb`);
    const statsP = fetch(`/rebenchdb/stats`);
    const changesSomP = fetch(`/rebenchdb/dash/SOMns/changes`);

    var trace1 = {
      x: [],
      y: [],
      type: 'scatter',
      mode: 'lines',
      name: 'PUT /results',
      line: {
        color: '#97c4f0',
        width: 3
      }
    };

    var data = [trace1];

    var layout = {
      height: 200,
      margin: {
        t: 0, l: 60, b: 40
      },
      yaxis: {
        title: 'Time in ms'
      },
    }

    function openCompare() {
      const baseline = $('#p1-baseline').find('.active').data('hash');
      const change = $('#p1-change').find('.active').data('hash');
      window.location.href = `/compare/SOMns/${baseline}/${change}`;
    }

    $(document).ready(async () => {
      const statsResponse = await statsP;
      const stats = await statsResponse.json();

      const table = $('#stats-table');
      for (const t of stats.stats) {
        table.append(`<tr><td>${t.table}</td><td>${t.cnt}</td></tr>`);
      }
      table.append(`<tr class="table-info"><td>Version</td><td>${stats.version}</td></tr>`);


      const rebenchDash = await rebenchDashP;
      const dashData = await rebenchDash.json();
      trace1.y = dashData.timeSeries;
      const index = [];

      for (let i = 1; i <= dashData.timeSeries.length; i += 1) {
        index.push(i);
      }
      trace1.x = index;

      Plotly.newPlot('project-overview-rebenchdb', data, layout);

      const changesSomResponse = await changesSomP;
      const changesSom = await changesSomResponse.json();

      const p1baseline = $('#p1-baseline');
      const p1change = $('#p1-change');
      for (const change of changesSom.changes) {
        // strip out some metadata to be nicer to view.
        const msg = change.commitmessage.replace(/Signed-off-by:.*?\n/, '');

        const option = `<a class="list-group-item list-group-item-action list-min-padding"
          data-toggle="list" data-hash="${change.commitid}" href="">
            ${change.commitid.substr(0,  6)} ${change.branchortag}<br>
            <div style="font-size: 80%; line-height: 1">${msg}</div>
          </a>`;

        p1baseline.append(option);
        p1change.append(option);
      }

      $('#p1-compare').click(openCompare);
    });
  </script>
</head>
<body>

  <div class="jumbotron">
    <h1 class="display-4">ReBench</h1>
    <h2 class="display-5">Execute and document benchmarks reproducibly.</h2>

    <p class="lead">ReBench is a tool to run and document benchmark experiments. Currently, it is mostly used for benchmarking language implementations, but it can be used to monitor the performance of all kinds of other applications and programs, too.</p>
    <hr class="my-4">
    <p>ReBenchDB is a project started in late 2019 to provide convenient access to data recorded with ReBench.
      Our focus is to facilitate the software engineering process with useful performance statistics.
    </p>

    <a href="https://doi.org/10.5281/zenodo.1311762" rel="nofollow"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.1311762.svg" alt="DOI" style="max-width:100%;"></a>
    <a href="https://github.com/smarr/ReBench"></a><img src="https://img.shields.io/badge/GitHub-ReBench-success"></a>
    <a href="https://github.com/smarr/ReBenchDB"></a><img src="https://img.shields.io/badge/GitHub-ReBenchDB-success"></a>
    <a href="https://rebench.readthedocs.io/"><img src="https://img.shields.io/badge/Documentation-Go-informational"></a>
  </div>

  <div class="card">
    <h5 class="card-header">Project 1</h5>
    <div class="card-body">
      <h5>Changes</h5>

      <div class="container min-padding"><div class="row">
        <div class="col-sm min-padding scroll-list">
          <div class="list-group baseline" id="p1-baseline"></div>
        </div>
        <div class="col-sm min-padding scroll-list">
          <div class="list-group change" id="p1-change"></div>
        </div>
      </div></div>

      <button type="button" class="btn btn-primary" id="p1-compare">Compare</button>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ReBenchDB Statistics</h5>
          <table class="table table-sm">
            <tbody id="stats-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <h5 class="card-header">ReBenchDB API Performance</h5>
    <div class="card-body">
      <div id="project-overview-rebenchdb"></div>
    </div>
  </div>

</body>
</html>
