<!doctype html>
<html lang="en">
<head>
  <title>ReBench</title>
  {{{headerHtml}}}
  <script src="/static/index-html.js" type="module"></script>
</head>
<body>

  <div class="jumbotron">
    <h1 class="display-4">ReBench</h1>
    <h2 class="display-5">Execute and document benchmarks reproducibly.</h2>

    <p class="lead">ReBench is a tool to run and document benchmark experiments. Currently, it is mostly used for benchmarking language implementations, but it can be used to monitor the performance of all kinds of other applications and programs, too.</p>
    <hr class="my-4">
    <p>ReBenchDB is a project started in late 2019 to provide convenient access to data recorded with ReBench.
      Our focus is to facilitate the software engineering process with useful performance statistics.
    </p>

    <a href="https://doi.org/10.5281/zenodo.1311762" rel="nofollow"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.1311762.svg" alt="DOI" style="max-width:100%;"></a>
    <a href="https://github.com/smarr/ReBench"><img src="https://img.shields.io/badge/GitHub-ReBench-success"></a>
    <a href="https://github.com/smarr/ReBenchDB"><img src="https://img.shields.io/badge/GitHub-ReBenchDB-success"></a>
    <a href="https://rebench.readthedocs.io/"><img src="https://img.shields.io/badge/Documentation-Go-informational"></a>
  </div>

  <div id="projects"></div>

  <div class="card">
    <h5 class="card-header">Project 1</h5>
    <div class="card-body">
      <h5>Changes</h5>

      <div class="container min-padding"><div class="row">
        <div class="col-sm min-padding scroll-list">
          <div class="list-group baseline" id="p1-baseline"></div>
        </div>
        <div class="col-sm min-padding scroll-list">
          <div class="list-group change" id="p1-change"></div>
        </div>
      </div></div>

      <button type="button" class="btn btn-primary" id="p1-compare">Compare</button>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ReBenchDB Statistics</h5>
          <table class="table table-sm">
            <tbody id="stats-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="card">
    <h5 class="card-header">ReBenchDB API Performance</h5>
    <div class="card-body">
      <div id="project-overview-rebenchdb"></div>
    </div>
  </div> -->

</body>
</html>
