<!doctype html>
<html lang="en">
<head>
  <title>ReBench</title>

  {{{headerHtml}}}

  <script>
    //@ts-check
    const rebenchDashP = fetch(`/rebenchdb/dash/rebenchdb`);
    const statsP = fetch(`/rebenchdb/stats`);

    var trace1 = {
      x: [],
      y: [],
      type: 'scatter',
      mode: 'lines',
      name: 'PUT /results',
      line: {
        color: '#97c4f0',
        width: 3
      }
    };

    var data = [trace1];

    var layout = {
      height: 200,
      margin: {
        t: 0, l: 60, b: 40
      },
      yaxis: {
        title: 'Time in ms'
      },
    }

    $(document).ready(async () => {
      const statsResponse = await statsP;
      const stats = await statsResponse.json();

      const table = $('#stats-table');
      for (const t of stats.stats) {
        table.append(`<tr><td>${t.table}</td><td>${t.cnt}</td></tr>`);
      }
      table.append(`<tr class="table-info"><td>Version</td><td>${stats.version}</td></tr>`);


      const rebenchDash = await rebenchDashP;
      const dashData = await rebenchDash.json();
      trace1.y = dashData.timeSeries;
      const index = [];

      for (let i = 1; i <= dashData.timeSeries.length; i += 1) {
        index.push(i);
      }
      trace1.x = index;

      Plotly.newPlot('project-overview-rebenchdb', data, layout);
    });
  </script>
</head>
<body>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ReBenchDB Statistics</h5>
          <table class="table table-sm">
            <tbody id="stats-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <h5 class="card-header">ReBenchDB API Performance</h5>
    <div class="card-body">
      <div id="project-overview-rebenchdb"></div>
    </div>
  </div>

</body>
</html>
