<!doctype html>
<html lang="en">
<head>
  <title>ReBench: {{project.name}}</title>
  <meta id="project-name" value="{{project.name}}">
  <meta id="project-id" value="{{project.id}}">
  <meta id="project-showchanges" value="{{project.showchanges}}">
  <meta id="project-allresults" value="{{project.allresults}}">
  {{{headerHtml}}}
  <script src="/static/project-html.js" type="module"></script>
</head>
<body>

  <div class="jumbotron">
    <h1 class="display-4">{{project.name}}</h1>
    {{#project.description}}
    <h2 class="display-5">{{project.description}}</h2>
    {{/project.description}}
  </div>

  <div id="project"></div>
</body>
</html>
