<!doctype html>
<html lang="en">
<head>
  <title>ReBench: Timeline {{project.name}}</title>
  <script src="/static/render.js"></script>
  <script src="/static/plots.js"></script>

  {{{headerHtml}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha256-19/eyBKQKb8IPrt7321hbLkI1+xyM8d/DpzjyiEKnCE=" crossorigin="anonymous"></script>

  <script>
    //@ts-check
    const benchmarksP = fetch(`/rebenchdb/dash/{{project.id}}/benchmarks`);
    const timelineP = fetch(`/rebenchdb/dash/{{project.id}}/timeline`);

    $(document).ready(async () => {
      const benchmarksResponse = await benchmarksP;
      const benchmarks = (await benchmarksResponse.json()).benchmarks;
      renderBenchmarks(benchmarks, $);

      const timelineResponse = await timelineP;
      renderTimelinePlots(await timelineResponse.json(), $);
    });
  </script>
</head>
<body>

  <div class="jumbotron">
    <h1 class="display-4">ReBench: Timeline {{project.name}}</h1>
    {{#project.description}}
    <h2 class="display-5">{{project.description}}</h2>
    {{/project.description}}
  </div>

  <div id="benchmarks"></div>
</body>
</html>
