<!doctype html>
<html lang="en">
<head>
  <meta id="project-id" value="{{project.id}}">
  <title>ReBench: Timeline {{project.name}}</title>
  {{{headerHtml}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha256-19/eyBKQKb8IPrt7321hbLkI1+xyM8d/DpzjyiEKnCE=" crossorigin="anonymous"></script>
  <script src="/static/timeline.js" type="module"></script>
</head>
<body>

  <div class="jumbotron">
    <h1 class="display-4">ReBench: Timeline {{project.name}}</h1>
    {{#project.description}}
    <h2 class="display-5">{{project.description}}</h2>
    {{/project.description}}
  </div>

  {{#benchmarks}}
  {{#exec}}
  <div class="exe-suite-group">
    <h3 id="se-{{suiteId}}-{{execId}}">{{suiteName}}</h3>
    <div class="title-executor">Executor: {{execName}}</div>

    {{#benchmarks}}
    <h4>{{benchName}}</h4>
    <p>{{cmdline}}</p>

    <div class="timeline-plot" data-runid="{{runId}}"></div>
    {{/benchmarks}}
  </div>

  {{/exec}}
  {{/benchmarks}}
</body>
</html>
