<!doctype html>
<html lang="en">
<head>
  <title>ReBench: {%= it.name %}</title>
  <meta id="project-id" value="{%= it.id %}">
  <meta id="project-showchanges" value="{%= it.showchanges%}">
  <meta id="project-allresults" value="{%= it.allresults%}">
  {%- include('header.html', { rebenchVersion: it.rebenchVersion }) %}
  <script src="/static/project.js" type="module"></script>
</head>
<body class="project-body">

  <div class="jumbotron">
    <h1 class="display-4">{%= it.name %}</h1>
    {% if (it.description) { %}
    <h2 class="display-5">{%= it.description%}</h2>
    {% } %}
  </div>

  <div id="project">
    <div class="branch-sidebar left">
      <div class="filter-header">
        <input type="text" class="branch-search" placeholder="Search branches/tags...">
      </div>
      <div class="sort-options">
        <a href class="sort-option selected-text">Most Used</a>
        <a href class="sort-option">Alphabetical</a>
        <a href class="sort-option">Most Recent</a>
      </div>
      <div class="branch-list list-group"></div>
    </div>
    <div class="card">
      <h5 class="card-header" id="{%= it.slug %}"><a
        href="/{%= it.slug %}/data">{%= it.name %}</a></h5>
      <div class="card-body">
        {% if (it.showchanges) { %}
        <h5>Changes</h5>
        <div class="container min-padding"><div class="row">
          <div class="col-sm min-padding scroll-list">
            <div class="list-group baseline" id="p{%= it.id %}-baseline"
              data-project-slug="{%= it.slug %}"></div>
          </div>
          <div class="col-sm min-padding scroll-list">
            <div class="list-group change" id="p{%= it.id %}-change"></div>
          </div>
        </div></div>

        <a class="btn btn-primary" id="p{%= it.id %}-compare">Compare</a>
        {% } %}
        {% if (it.allresults) { %}
        <div id="p{%= it.id %}-results" class="timeline-single"></div>
        {% } %}
        <div class="project-card-content"></div>
        <a href="/{%= it.slug %}/timeline">Timeline</a>
      </div>
    </div>
    <div class="branch-sidebar right">
      <div class="filter-header">
        <input type="text" class="branch-search" placeholder="Search branches/tags...">
      </div>
      <div class="sort-options">
        <a href class="sort-option selected-text">Most Used</a>
        <a href class="sort-option">Alphabetical</a>
        <a href class="sort-option">Most Recent</a>
      </div>
      <div class="branch-list list-group"></div>
    </div>
  </div>
</body>
</html>
